*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app/private/*.json
/storage/app/private/services/*
/storage/app/private/eggs/*
/storage/app/private/discord/*
/storage/app/private/metrics_history/*
/storage/app/private/docker/*
/vendor

Homestead.json
Homestead.yaml
Thumbs.db
Archiv.zip
